@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --bodytext-14-regular: Inter;

  /* font sizes */
  --bodytext-14-regular-size: 14px;

  /* Colors */
  --color-white: #fff;
  --line: #efefef;
  --text-color: #454459;
  --body-text: #393939;
  --theme-text-heading1: #242424;
  --theme-text-heading: #111827;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-11xs: 2px;
  --padding-7xs: 6px;

  /* Border radiuses */
  --br-7xs: 6px;

  /* Effects */
  --card-2: 0px 2px 10px rgba(0, 0, 0, 0.05);
}
